html {
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
.bgimg{
   height:100vh;
   background-image:url("images/bgg.jpg");
   background-size:cover;
   background-position:center;
   background-attachment:fixed;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
    color:white;
    font-size: 50px;

}
.content{
    color:#fff;
    background: rgba(255,255,255,0.2);
    padding: 15px;
}
.card{
    width:300px;
    border-radius:20px;
    overflow:hidden;
    background:#1f1f1f;
    transition:0.4s;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    display:flex;
    flex-direction:column;
}
.card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,0.5);
}
.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    transition:0.4s;
}
.card:hover img{
    transform:scale(1.08);
}
.parallax{
    height:400px;
    background-image:url("images/bgg.jpg");
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.hero{
    height: 100vh;
    background:
    linear-gradient(
        rgba(222, 247, 109, 0.463),
        rgba(255, 234, 9, 0.781)
    ),
    url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #222;
    font-family:sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}
.menu{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 20px;
    background-image:url("images/bg2.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   padding-left: 20px;
}
.footer{
   height:30vh;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 3cqw;
    padding-left: 30px;
    background: rgba(128, 142, 0, 0.5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.menu h2{
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    grid-column:1/-1;
}
@media (max-width: 768px) {
    .menu {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 20px;
    }
    .card {
        width: 90%;
        max-width: 350px;
    }
    .bgimg {
        font-size: 30px;
        text-align: center;
        padding: 20px;
    }
    .hero {
        padding: 20px;
        text-align: center;
    }
    nav{
        gap: 20px;
        flex-wrap: wrap;
    }

    nav a{
        font-size: 16px;
    }
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    background: rgba(128, 142, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}
nav a:hover{
    color: rgba(123, 119, 31, 0.594);
}
section{
    scroll-margin-top: 30px;
}
.reserve-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background: orange;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.reserve-btn:hover {
    transform: scale(1.05);
}
